.ticketCard {
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3),
        0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ticketCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4),
        0 8px 16px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    color: var(--primary);
}

.divider {
    border-top: 2px dashed #4b5563;
    margin: 0 1.5rem;
}